template {
  display: none;
}

.navbar-brand > .navbar-item > img {
  margin-right: .5em;
}

.control canvas, .control img {
  box-sizing: content-box;
  border: 1px solid #000;
}

textarea.textarea {
  max-height: none;
  height: initial;
  font-family: monospace;
  font-size: 80%;
}
