.navbar-brand > .navbar-item > img {
  margin-right: .5rem;
}

.hero-body, .section {
  padding: 1.5rem;
}

.column.is-narrow {
  max-width: 100%;
}

.control canvas, .control img {
  max-width: 100%;
  max-height: calc(100vh - 3rem);
  box-sizing: content-box;
  border: 1px solid #363636;
}

textarea.textarea {
  max-height: none;
  height: initial;
  font-family: monospace;
  font-size: 80%;
}
